* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body.sandals-page {
    background-color: #f5f5f5;
}

body.sandals-page header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body.sandals-page .panel {
    background-color: rgb(45, 109, 165);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sandals-content {
    padding: 60px 20px 80px;
}

.Loafers-section1{
    display: flex;
    justify-content: space-evenly;
    
}
.yy{
    height:320px;
     width: 160%;
    /* border: 3px solid rgb(206, 198, 198) ; */
     
 }



 .box1-ei{
  background-image:url(index_files/255106__4_5__20250902063118269_width_1024.jpg);
   height: 110%;
   background-size: contain; 
    background-repeat: no-repeat;
  
 }

 .box2-ei{
  background-image:url(index_files/255105__4_5__20250902063054232_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
  
}
 .box3-ei{
  background-image:url(index_files/255105__4_5__20250902063054232_width_1024.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }
.box3-ei{
  background-image:url(index_files/255105__4_5__20250902063054232_width_1024.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }
 .box3-ei{
  background-image:url(index_files/255103__4_5__20250902063040783.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }

.velos{
   font-size: 15px;
     margin-top: 25px; 
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$ */


.Loafers-section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
}
.uu{
    height:320px;
    border: 3px solid white ;
     width:160%;
 }

.box1-igf{
  background-image: url(2520338__4_5__20250413092141750_width_1024.jpg);
   background-size: contain; 
  height: 110%;
  background-repeat: no-repeat;

 }


.box2-igf{
  background-image:url(2520328__4_5__20250421052810967_width_1024.jpg);
   height: 110%;
   background-size: contain; 
    background-repeat: no-repeat;
  
 }
.box3-igf{
  background-image:url(2520329__4_5__20250421051517347_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
}
.box4-igf{
  background-image:url(2520306__4_5__20250318061405054_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
}
.box5-igf{
  background-image:url(2520322__4_5__20250421042225157_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
}

.vols{
   font-size: 15px;
     margin-top: 25px; 
}
.product-price{
    font-size: 20px;
    margin-top: 5px;
}