* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body.shirt-page {
    background-color: #f5f5f5;
}

body.shirt-page header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body.shirt-page .panel {
    background-color: rgb(45, 109, 165);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.shirt-content {
    padding: 60px 20px 80px;
}

.shirt-section1{
    display: flex;
    justify-content: space-evenly;
    
}
.ye{
    height:320px;
     width: 160%;
    /* border: 3px solid rgb(206, 198, 198) ; */
     
 }

.box1-ime{
  background-image: url(index_files/246413__4_5__20251028054644857_width_1024.jpg);
   background-size: contain; 
  height: 110%;
  background-repeat: no-repeat;

 }


 .box2-ime{
  background-image:url(246412__4_5__20251028054638818.jpg);
   height: 110%;
   background-size: contain; 
    background-repeat: no-repeat;
  
 }

 .box3-ime{
  background-image:url(246411__4_5__20251028054632668_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
  
}
 .box4-ime{
  background-image:url(index_files/252706__4_5__20251014070228105.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }

 .box5-ime{
  background-image:url(index_files/252710__4_5__20251014070321405_width_1024.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }
.veles{
   font-size: 15px;
     margin-top: 25px; 
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$ */


.shirt-section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
}
.ue{
    height:320px;
    border: 3px solid white ;
     width:160%;
 }

.box1-igee{
  background-image:url(256031__4_5__20250924085233922_width_1024.jpg);
   background-size: contain; 
  height: 110%;
  background-repeat: no-repeat;

 }


 .box2-igee{
  background-image:url(256414__4_5__20251028054724198_width_1024.jpg);
   background-size: contain; 
   height: 110%;
    background-repeat: no-repeat;
  
 }

 .box3-igee{
  background-image:url(mx241001__4_5__20251012053930257_width_1024.jpg);
  height: 110%;
  background-size: contain;
    background-repeat: no-repeat;
  
}
 .box4-igee{
  background-image:url(mx241003__4_5__20251012053951009_width_1024.jpg);
  height: 110%;
  background-size: contain;
   background-repeat: no-repeat;
 }

 .box5-igee{
  background-image:url(mx241004__4_5__20251012054001414_width_1024.jpg);
  height:110%;
  background-size: contain;
   background-repeat: no-repeat;
 }
.vels{
   font-size: 15px;
     margin-top: 25px; 
}
.product-price{
    font-size: 20px;
    margin-top: 5px;
}